/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Starting Point */
h1 {
  font-size: 34px;
  padding-bottom: 5px;
  font-weight: bold;
}
h2 {
  font-size: 28px;
  padding-bottom: 4px;
  font-weight: bold;
}
h3 {
  font-size: 22px;
  padding-bottom: 3px;
  font-weight: bold;
}
h4 {
  font-size: 18px;
  font-weight: bold;
}
#frame {
  background-color: aquamarine;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  font-family: Arimo, "Arimo Medium", "Arimo SemiBold"
}
#header {
  margin: 0;
  height: 100px;
  background-color: aliceblue;
}
#brand {
  color: black;
  font-weight: 700;
  position: relative;
  width: 90%;
  height: 100px;
  float: left;
}
#brand h1 {
  float: left;
  font-size: xx-large
}
.center {
  text-align: center;
  width: 100%;
}
.brand, .footer-right {
  width: calc(100% - 80px);
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#navigation {
  width: 10%;
  float: right;
  height: 100px;
  display: block;
  position: relative;
}
#navigation input {
  display: none;
}
#navigation svg.mainmenu-img {
  height: 35px;
  width: 35px;
  vertical-align: middle;
}
#navigation svg.mainmenu-img path {
  fill: currentcolor;
}
#navigation-ul {
  top: 0;
  width: 100%;
  height: 100px;
  margin: 0;
  color: #eee;
}
#navigation-ul li {
  float: left;
  list-style-type: none;
  position: relative;
  width: 100%;
  text-align: center;
}
#navigation-ul label {
  line-height: 100px;
  text-align: center;
  position: relative;
  display: block;
  cursor: pointer;
  color: black;
  font-weight: 700;
  height: 100px;
}
#navigation-ul input:checked ~ label {
  background: #111111;
  color: white;
}
#navigation-ul label:hover, #navigation-ul input:checked ~ label:hover {
  background: #e34225;
  color: white;
}
#navigation-ul ul.submenu {
  background: #111111;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  position: absolute;
  min-width: 100%;
  right: 0;
}
#navigation-ul input:checked ~ ul.submenu {
  max-height: 500px;
  z-index: 9999;
}
#navigation-ul li ul.submenu li {
  text-align: left;
}
#navigation-ul ul.submenu li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}
#navigation-ul ul.submenu li a:hover {
  background: #e34225;
}
#navigation-ul ul.submenu li:first-of-type a {
  padding-top: 20px;
}
#navigation-ul ul.submenu li:last-of-type a {
  padding-bottom: 20px;
}
#main-panel {
  width: 100%;
  position: relative;
  height: 700px;
  background-color: #f0f8ff;
}
#left-main-panel {
  width: 50%;
  height: 100%;
  float: left;
  background-image: url("../img/ekapny.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 50px;
}
#right-main-panel {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
}
.right-main-panel {
  width: calc(100% - 50px);
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro-title {
  text-align: left;
  font-size: 400%;
  font-weight: bold;
}
.intro-desc {
  font-size: x-large;
  font-weight: normal;
}
#footer {
  width: 100%;
  display: flex;
}
#footer-left {
  width: calc(50% - 80px);
  float: left;
}
.footer-left-desc {
  padding-top: 20px;
}
#footer-right {
  width: calc(50% - 80px);
  float: left;
  position: relative;
}
#footer-right ul {
  list-style-type: none;
  display: block ruby;
}
#footer-right ul li {
  padding: 0 5px;
}
#footer-left, #footer-right {
  padding: 40px;
  line-height: 1.5em;
  color: white;
  background-color: #111;
}
#footer a:link {
  color: white;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
@media (max-width:480px) {
  #brand {
    width: 75%
  }
  .brand {
    width: calc(100% - 70px);
  }
  #navigation {
    width: 25%
  }
  #main-panel {
    height: 630px;
  }
  #left-main-panel {
    width: 100%;
    height: 430px;
  }
  #right-main-panel {
    width: 100%;
    height: 200px;
    background-color: aquamarine;
  }
  .intro-title {
    font-size: 300%;
  }
  .intro-desc {
    font-size: large;
    padding-top: 6px;
  }
  #footer {
    display: block;
  }
  #footer-right ul {
    display: block;
  }
  #footer-right ul li {
    display: inline;
  }
  #footer-left, #footer-right {
    width: calc(100% - 80px);
  }
  #footer-right {
    padding: 0 40px 40px 40px;
  }
  .footer-right {
    width: 100%;
    position: inherit;
    z-index: inherit;
    top: inherit;
    left: inherit;
    transform: inherit;
  }
}
@media (min-width:481px) and (max-width:1080px) {
  #main-panel {
    height: 500px
  }
  .intro-title {
    font-size: 300%;
  }
  .intro-desc {
    font-size: large;
  }
}